.header {
    background: #43E895;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 20px;
    right: 0;
    z-index: 100;

    h1 {
        margin: 0;
        font-size: 17px;
        color: #ffffff;
        text-align: center;
    }

    &__back {
        position: absolute;
        left: 0;
        top: 16px;
        width: 16px;
        padding: 5px 15px;
        cursor: pointer;
    }

    &__map {
        position: absolute;
        right: 0;
        top: 16px;
        width: 30px;
        padding: 5px 15px;
    }
}